* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.slider-container {
    position: relative;
    width: 80%;
    max-width: 900px;
    height: 80%;
    max-height: 900px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin: auto;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    height: 100%;
    align-items: center;
}

.slide {
    min-width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.slide.active {
    opacity: 1;
}

.slide img {
    width: 100%;
    height: 100%;
    /*object-fit: cover; /* A imagem preenche o slide sem distorcer */
    object-position: center center; /* Ajusta a posição da imagem */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.author-name {
    position: absolute;
    /*bottom: 20px;*/
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.2rem;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 1;
    text-align: center;
    width: 80%; /* Ajuste de largura para garantir que o nome seja bem visível */
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: 50%;
    z-index: 2;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}
.info {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.75); /* Fundo mais escuro para maior contraste */
    padding: 15px 25px; /* Mais espaçamento interno */
    border-radius: 10px; /* Bordas mais suaves */
    color: white;
    z-index: 1;
    max-width: 85%; /* Garantir que o texto não ultrapasse os limites */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Sombra para destacar */
}

.painting-name {
    font-size: 1.4rem; /* Nome da pintura maior e mais destacado */
    font-weight: bold;
    margin-bottom: 8px; /* Espaçamento entre o nome da pintura e o autor */
    text-transform: capitalize; /* Primeira letra de cada palavra em maiúsculo */
}

.author-name {
    font-size: 1.1rem; /* Autor um pouco menor que o nome da pintura */
    opacity: 0.9; /* Menor contraste para diferenciar */
    font-style: italic; /* Deixa o nome do autor mais elegante */
}

